<div class="container">
  <br>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{mobile}}</td>
        <td>{{email}}</td>
        <td>{{password}}</td>
        <td>
          <a href="/editCustomer?id={{id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>&nbsp
          <a href="/deleteCustomer?id={{id}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>